<a href="https://colab.research.google.com/github/Kensuzuki95/EY_Assignment/blob/main/Assignment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [188]:
import pandas as pd
pd.set_option('display.float_format', '{:.2f}'.format)

In [189]:
invoice_data = pd.read_excel('/content/drive/MyDrive/EY Recruitment Documents/invoice_data_master.xlsx')
invoice_data = invoice_data.fillna(0)
invoice_data

,file_name,store_name,invoice_number,invoice_date,product_1,quantity_1,product_2,quantity_2,product_3,quantity_3,company_name,franchise_name,company_store,address,prefecture,municipality
0,202009000096221.xlsx,お花茶屋店,202009000096221,44091,メンズ・シャンプーM,100,レディース・シャンプーL,100,0,0.00,トモズ,トモズ,トモズ_お花茶屋店,東京都葛飾区宝町２－３４－１６,東京都,東京都葛飾区
1,202006000103601.xlsx,小田急マルシェ本厚木店,202006000103601,43997,メンズ・シャンプーM,100,レディース・シャンプーL,100,0,0.00,トモズ,トモズ,トモズ_小田急マルシェ本厚木店,神奈川県厚木市中町１－１－１,神奈川県,神奈川県厚木市
2,202212000012341.xlsx,せんげん台東店,202212000012341,2022-12-09,メンズ・シャンプーM,100,レディース・シャンプーL,100,0,0.00,マツモトキヨシ,マツモトキヨシ,マツモトキヨシ_せんげん台東店,埼玉県越谷市平方南町１９－１,埼玉県,埼玉県越谷市
3,202209000096221.xlsx,お花茶屋店,202209000096221,2022-09-05,メンズ・シャンプーM,100,レディース・シャンプーL,100,0,0.00,トモズ,トモズ,トモズ_お花茶屋店,東京都葛飾区宝町２－３４－１６,東京都,東京都葛飾区
4,202006000096221.xlsx,お花茶屋店,202006000096221,43991,メンズ・シャンプーM,100,レディース・シャンプーL,100,0,0.00,トモズ,トモズ,トモズ_お花茶屋店,東京都葛飾区宝町２－３４－１６,東京都,東京都葛飾区
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4401,202004000002111.xlsx,市原店,202004000002111,2020-04-19,メンズ・シャンプーM,100,レディース・シャンプーL,100,0,0.00,イトーヨーカ堂,イトーヨーカドー,イトーヨーカ堂_市原店,千葉県市原市五井字上新道,千葉県,千葉県市原市
4402,202010000002111.xlsx,市原店,202010000002111,2020-10-17,メンズ・シャンプーM,100,レディース・シャンプーL,100,0,0.00,イトーヨーカ堂,イトーヨーカドー,イトーヨーカ堂_市原店,千葉県市原市五井字上新道,千葉県,千葉県市原市
4403,202001000002111.xlsx,市原店,202001000002111,2020-01-08,メンズ・シャンプーM,100,レディース・シャンプーL,100,0,0.00,イトーヨーカ堂,イトーヨーカドー,イトーヨーカ堂_市原店,千葉県市原市五井字上新道,千葉県,千葉県市原市
4404,202006000008681.xlsx,我孫子南口店,202006000008681,2020-06-07,メンズ・シャンプーM,100,レディース・シャンプーL,100,0,0.00,イトーヨーカ堂,イトーヨーカドー,イトーヨーカ堂_我孫子南口店,千葉県我孫子市本町３－２－２８,千葉県,千葉県我孫子市
4405,202012000008681.xlsx,我孫子南口店,202012000008681,2020-12-15,メンズ・シャンプーM,100,レディース・シャンプーL,100,0,0.00,イトーヨーカ堂,イトーヨーカドー,イトーヨーカ堂_我孫子南口店,千葉県我孫子市本町３－２－２８,千葉県,千葉県我孫子市

# Total Sales

## Tomods

In [48]:
# Filter the DataFrame based on the selected string
tomods_df = invoice_data[invoice_data['franchise_name'].str.contains('トモズ')]

# Get unique values from Column1
#unique_values = tomods_df['product_1'].unique()
#unique_values = tomods_df['product_2'].unique()
unique_values = tomods_df['product_3'].unique()

# Print the unique values
print(unique_values)

[nan 'ラグジュアリ・シャンプーEx']

In [49]:
# Product prices
product_prices = {
    'メンズ・シャンプーM': 2500,
    'レディース・シャンプーL': 3000,
    'ラグジュアリ・シャンプーEx': 5000
}

# Calculate total sales for each product
tomods_df['product1_sales'] = tomods_df['quantity_1'] * product_prices['メンズ・シャンプーM']
tomods_df['product2_sales'] = tomods_df['quantity_2'] * product_prices['レディース・シャンプーL']
tomods_df['product3_sales'] = tomods_df['quantity_3'] * product_prices['ラグジュアリ・シャンプーEx']
tomods_df.head()

<ipython-input-49-0b8fb4e681bb>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tomods_df['product1_sales'] = tomods_df['quantity_1'] * product_prices['メンズ・シャンプーM']
<ipython-input-49-0b8fb4e681bb>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tomods_df['product2_sales'] = tomods_df['quantity_2'] * product_prices['レディース・シャンプーL']
<ipython-input-49-0b8fb4e681bb>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tomods_df['product3_sales'] = tomods_df['quantity_3'] * product_prices['ラグジュアリ・シャンプーEx']

,file_name,store_name,invoice_number,invoice_date,product_1,quantity_1,product_2,quantity_2,product_3,quantity_3,company_name,franchise_name,company_store,address,prefecture,municipality,product1_sales,product2_sales,product3_sales
0,202009000096221.xlsx,お花茶屋店,202009000096221,44091,メンズ・シャンプーM,100,レディース・シャンプーL,100,NaN,NaN,トモズ,トモズ,トモズ_お花茶屋店,東京都葛飾区宝町２－３４－１６,東京都,東京都葛飾区,250000,300000,NaN
1,202006000103601.xlsx,小田急マルシェ本厚木店,202006000103601,43997,メンズ・シャンプーM,100,レディース・シャンプーL,100,NaN,NaN,トモズ,トモズ,トモズ_小田急マルシェ本厚木店,神奈川県厚木市中町１－１－１,神奈川県,神奈川県厚木市,250000,300000,NaN
3,202209000096221.xlsx,お花茶屋店,202209000096221,2022-09-05,メンズ・シャンプーM,100,レディース・シャンプーL,100,NaN,NaN,トモズ,トモズ,トモズ_お花茶屋店,東京都葛飾区宝町２－３４－１６,東京都,東京都葛飾区,250000,300000,NaN
4,202006000096221.xlsx,お花茶屋店,202006000096221,43991,メンズ・シャンプーM,100,レディース・シャンプーL,100,NaN,NaN,トモズ,トモズ,トモズ_お花茶屋店,東京都葛飾区宝町２－３４－１６,東京都,東京都葛飾区,250000,300000,NaN
5,202203000096221.xlsx,お花茶屋店,202203000096221,2022-03-09,メンズ・シャンプーM,100,レディース・シャンプーL,100,NaN,NaN,トモズ,トモズ,トモズ_お花茶屋店,東京都葛飾区宝町２－３４－１６,東京都,東京都葛飾区,250000,300000,NaN

In [50]:
# Calculate the total sales
tomods_product1_total = tomods_df['product1_sales'].sum()
tomods_product2_total = tomods_df['product2_sales'].sum()
tomods_product3_total = tomods_df['product3_sales'].sum()
tomods_total_sales = tomods_product1_total + tomods_product2_total + tomods_product3_total
print('The total sales at Tomods is ' + str(tomods_total_sales) + ' JPY')

The total sales at Tomods is 627100000.0 JPY

## Ito-Yokado

In [51]:
# Filter the DataFrame based on the selected string
ito_yokado_df = invoice_data[invoice_data['franchise_name'].str.contains('イトーヨーカドー')]

# Get unique values from Column1
unique_values = ito_yokado_df['product_1'].unique()
#unique_values = ito_yokado_df['product_2'].unique()
#unique_values = ito_yokado_df['product_3'].unique()

# Print the unique values
print(unique_values)

['メンズ・シャンプーM']

In [52]:
# Product prices
product_prices = {
    'メンズ・シャンプーM': 2500,
    'レディース・シャンプーL': 3000,
    'ラグジュアリ・シャンプーEx': 5000
}

# Calculate total sales for each product
ito_yokado_df['product1_sales'] = ito_yokado_df['quantity_1'] * product_prices['メンズ・シャンプーM']
ito_yokado_df['product2_sales'] = ito_yokado_df['quantity_2'] * product_prices['レディース・シャンプーL']
ito_yokado_df['product3_sales'] = ito_yokado_df['quantity_3'] * product_prices['ラグジュアリ・シャンプーEx']
ito_yokado_df.head()

<ipython-input-52-8c1971772ff5>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ito_yokado_df['product1_sales'] = ito_yokado_df['quantity_1'] * product_prices['メンズ・シャンプーM']
<ipython-input-52-8c1971772ff5>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ito_yokado_df['product2_sales'] = ito_yokado_df['quantity_2'] * product_prices['レディース・シャンプーL']
<ipython-input-52-8c1971772ff5>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ito_yokado_df['product3_sales'] = ito_yokado_df['quantity_3'] * product_prices['ラグジュアリ・シャンプーEx']

,file_name,store_name,invoice_number,invoice_date,product_1,quantity_1,product_2,quantity_2,product_3,quantity_3,company_name,franchise_name,company_store,address,prefecture,municipality,product1_sales,product2_sales,product3_sales
497,202009000014461.xlsx,亀有駅前店,202009000014461,2020-09-06,メンズ・シャンプーM,100,レディース・シャンプーL,100,NaN,NaN,イトーヨーカ堂,イトーヨーカドー,イトーヨーカ堂_亀有駅前店,東京都葛飾区亀有３－２６－１,東京都,東京都葛飾区,250000,300000,NaN
501,202006000014461.xlsx,亀有駅前店,202006000014461,2020-06-20,メンズ・シャンプーM,100,レディース・シャンプーL,100,NaN,NaN,イトーヨーカ堂,イトーヨーカドー,イトーヨーカ堂_亀有駅前店,東京都葛飾区亀有３－２６－１,東京都,東京都葛飾区,250000,300000,NaN
511,202012000014461.xlsx,亀有駅前店,202012000014461,2020-12-06,メンズ・シャンプーM,100,レディース・シャンプーL,100,NaN,NaN,イトーヨーカ堂,イトーヨーカドー,イトーヨーカ堂_亀有駅前店,東京都葛飾区亀有３－２６－１,東京都,東京都葛飾区,250000,300000,NaN
513,202303000014461.xlsx,亀有駅前店,202303000014461,2023-03-08,メンズ・シャンプーM,100,レディース・シャンプーL,100,NaN,NaN,イトーヨーカ堂,イトーヨーカドー,イトーヨーカ堂_亀有駅前店,東京都葛飾区亀有３－２６－１,東京都,東京都葛飾区,250000,300000,NaN
514,202103000014461.xlsx,亀有駅前店,202103000014461,2021-03-12,メンズ・シャンプーM,100,レディース・シャンプーL,100,NaN,NaN,イトーヨーカ堂,イトーヨーカドー,イトーヨーカ堂_亀有駅前店,東京都葛飾区亀有３－２６－１,東京都,東京都葛飾区,250000,300000,NaN

In [56]:
# Calculate the total sales
ito_yokado_product1_total = ito_yokado_df['product1_sales'].sum()
ito_yokado_product2_total = ito_yokado_df['product2_sales'].sum()
ito_yokado_product3_total = ito_yokado_df['product3_sales'].sum()
ito_yokado_total_sales = ito_yokado_product1_total + ito_yokado_product2_total + ito_yokado_product3_total
print('The total sales at Ito-Yokado is ' + str(ito_yokado_total_sales) + ' JPY')

The total sales at Ito-Yokado is 51150000.0 JPY

## Matsumoto-Kiyoshi

In [54]:
# Filter the DataFrame based on the selected string
mastumoto_kiyoshi_df = invoice_data[invoice_data['franchise_name'].str.contains('マツモトキヨシ')]

# Get unique values from Column1
unique_values = mastumoto_kiyoshi_df['product_1'].unique()
#unique_values = mastumoto_kiyoshi_df['product_2'].unique()
#unique_values = mastumoto_kiyoshi_df['product_3'].unique()

# Print the unique values
print(unique_values)

['メンズ・シャンプーM']

In [55]:
# Product prices
product_prices = {
    'メンズ・シャンプーM': 2500,
    'レディース・シャンプーL': 3000,
    'ラグジュアリ・シャンプーEx': 5000
}

# Calculate total sales for each product
mastumoto_kiyoshi_df['product1_sales'] = mastumoto_kiyoshi_df['quantity_1'] * product_prices['メンズ・シャンプーM']
mastumoto_kiyoshi_df['product2_sales'] = mastumoto_kiyoshi_df['quantity_2'] * product_prices['レディース・シャンプーL']
mastumoto_kiyoshi_df['product3_sales'] = mastumoto_kiyoshi_df['quantity_3'] * product_prices['ラグジュアリ・シャンプーEx']
mastumoto_kiyoshi_df.head()

<ipython-input-55-843647325238>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mastumoto_kiyoshi_df['product1_sales'] = mastumoto_kiyoshi_df['quantity_1'] * product_prices['メンズ・シャンプーM']
<ipython-input-55-843647325238>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mastumoto_kiyoshi_df['product2_sales'] = mastumoto_kiyoshi_df['quantity_2'] * product_prices['レディース・シャンプーL']
<ipython-input-55-843647325238>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mastumoto_kiyoshi_df['product3_sales'] = mastumoto_kiyoshi_df['quantity_3'] * product_prices['ラグジュアリ・シャンプーEx']

,file_name,store_name,invoice_number,invoice_date,product_1,quantity_1,product_2,quantity_2,product_3,quantity_3,company_name,franchise_name,company_store,address,prefecture,municipality,product1_sales,product2_sales,product3_sales
2,202212000012341.xlsx,せんげん台東店,202212000012341,2022-12-09,メンズ・シャンプーM,100,レディース・シャンプーL,100,NaN,NaN,マツモトキヨシ,マツモトキヨシ,マツモトキヨシ_せんげん台東店,埼玉県越谷市平方南町１９－１,埼玉県,埼玉県越谷市,250000,300000,NaN
6,202206000012341.xlsx,せんげん台東店,202206000012341,2022-06-24,メンズ・シャンプーM,100,レディース・シャンプーL,100,NaN,NaN,マツモトキヨシ,マツモトキヨシ,マツモトキヨシ_せんげん台東店,埼玉県越谷市平方南町１９－１,埼玉県,埼玉県越谷市,250000,300000,NaN
12,202209000012341.xlsx,せんげん台東店,202209000012341,2022-09-08,メンズ・シャンプーM,100,レディース・シャンプーL,100,NaN,NaN,マツモトキヨシ,マツモトキヨシ,マツモトキヨシ_せんげん台東店,埼玉県越谷市平方南町１９－１,埼玉県,埼玉県越谷市,250000,300000,NaN
37,202303000065151.xlsx,新大久保駅前店,202303000065151,2023-03-18,メンズ・シャンプーM,100,レディース・シャンプーL,100,ラグジュアリ・シャンプーEx,100.0,マツモトキヨシ,マツモトキヨシ,マツモトキヨシ_新大久保駅前店,東京都新宿区百人町２－４－２,東京都,東京都新宿区,250000,300000,500000.0
38,202209000065151.xlsx,新大久保駅前店,202209000065151,2022-09-11,メンズ・シャンプーM,100,レディース・シャンプーL,100,ラグジュアリ・シャンプーEx,100.0,マツモトキヨシ,マツモトキヨシ,マツモトキヨシ_新大久保駅前店,東京都新宿区百人町２－４－２,東京都,東京都新宿区,250000,300000,500000.0

In [57]:
# Calculate the total sales
mastumoto_kiyoshi_product1_total = mastumoto_kiyoshi_df['product1_sales'].sum()
mastumoto_kiyoshi_product2_total = mastumoto_kiyoshi_df['product2_sales'].sum()
mastumoto_kiyoshi_product3_total = ito_yokado_df['product3_sales'].sum()
mastumoto_kiyoshi_total_sales = mastumoto_kiyoshi_product1_total + mastumoto_kiyoshi_product2_total + mastumoto_kiyoshi_product3_total
print('The total sales at Matsumoto Kiyoshi is ' + str(mastumoto_kiyoshi_total_sales) + ' JPY')

The total sales at Matsumoto Kiyoshi is 1870550000.0 JPY

## Totol Sales stas

In [58]:
# Total Sales of メンズ・シャンプーM
product1_total = tomods_product1_total + ito_yokado_product1_total + mastumoto_kiyoshi_product1_total
product1_total

1101500000

In [60]:
# Total Sales of レディース・シャンプーL
product2_total = tomods_product2_total + ito_yokado_product2_total + mastumoto_kiyoshi_product2_total
product2_total

1321800000

In [59]:
# Total Sales of ラグジュアリ・シャンプーEx
product3_total = tomods_product3_total + ito_yokado_product3_total + mastumoto_kiyoshi_product3_total
product3_total

125500000.0

In [62]:
# Total Sales of all three product combined
total_sales = tomods_total_sales + ito_yokado_total_sales + mastumoto_kiyoshi_total_sales
total_sales

2548800000.0

# Further Sales Analysis Analysis

In [191]:
# Product prices
product_prices = {
    'メンズ・シャンプーM': 2500,
    'レディース・シャンプーL': 3000,
    'ラグジュアリ・シャンプーEx': 5000
}

# Calculate total sales for each product
invoice_data['product1_sales'] = invoice_data['quantity_1'] * product_prices['メンズ・シャンプーM']
invoice_data['product2_sales'] = invoice_data['quantity_2'] * product_prices['レディース・シャンプーL']
invoice_data['product3_sales'] = invoice_data['quantity_3'] * product_prices['ラグジュアリ・シャンプーEx']
invoice_data.head(1)

,file_name,store_name,invoice_number,invoice_date,product_1,quantity_1,product_2,quantity_2,product_3,quantity_3,company_name,franchise_name,company_store,address,prefecture,municipality,product1_sales,product2_sales,product3_sales
0,202009000096221.xlsx,お花茶屋店,202009000096221,44091,メンズ・シャンプーM,100,レディース・シャンプーL,100,0,0.00,トモズ,トモズ,トモズ_お花茶屋店,東京都葛飾区宝町２－３４－１６,東京都,東京都葛飾区,250000,300000,0.00

In [256]:
# Count the total number of rows before dropping
total_rows = len(invoice_data)

# Convert invoice_date column to datetime type
invoice_data['invoice_date'] = pd.to_datetime(invoice_data['invoice_date'], errors='coerce')

# Drop rows with non-date data in invoice_date column
invoice_data_mod = invoice_data.dropna(subset=['invoice_date'])

# Count the number of rows after dropping
remaining_rows = len(invoice_data_mod)

# Count original number of invoices by franchises
total_rows_by_franchise = invoice_data.groupby('franchise_name').size()

# Count rows that remained after removing corrupted invoices by franchises
total_rows_by_franchise_mod = invoice_data_mod.groupby('franchise_name').size()

# Calculate the dropped rows by franchise
dropped_rows_by_franchise = total_rows_by_franchise.sub(total_rows_by_franchise_mod)

# Calculate the dropped percentage by franchise
dropped_percentage_by_franchise = total_rows_by_franchise.sub(total_rows_by_franchise_mod) / total_rows_by_franchise * 100

# Calculate the percentage of dropped data
dropped_percentage = ((total_rows - remaining_rows) / total_rows) * 100
print("Percentage of dropped data: {:.2f}%".format(dropped_percentage))

# Create a dataframe storing the data retention results
data_retention = pd.concat([total_rows_by_franchise, total_rows_by_franchise_mod,
                           dropped_rows_by_franchise, dropped_percentage_by_franchise],
                          axis=1)
data_retention = data_retention.reset_index(drop=False)
data_retention = data_retention.rename(columns = {0: 'row_count_original', 1: 'row_count_cleaned', 2: 'dropped_row_count', 3: 'data_lost_percentage'})
data_retention

Percentage of dropped data: 28.26%

,franchise_name,row_count_original,row_count_cleaned,dropped_row_count,data_lost_percentage
0,イトーヨーカドー,93,93,0,0.00
1,トモズ,912,640,272,29.82
2,マツモトキヨシ,3401,2428,973,28.61

In [257]:
df = invoice_data

# Convert invoice_date column to datetime type
invoice_data['invoice_date'] = pd.to_datetime(invoice_data['invoice_date'], errors='coerce')

# Drop rows with non-date data in invoice_date column
invoice_data = invoice_data.dropna(subset=['invoice_date'])

# Extract calendar month and year from invoice_date
invoice_data['calendar_month'] = invoice_data['invoice_date'].dt.month
invoice_data['calendar_year'] = invoice_data['invoice_date'].dt.year

# Calculate annual sales for each row
invoice_data['total_sales'] = invoice_data['product1_sales'] + invoice_data['product2_sales'] + invoice_data['product3_sales']

# Calculate monthly sales for each franchise and year
monthly_sales = invoice_data.groupby(['franchise_name', 'calendar_year', 'calendar_month'])['total_sales'].sum()

# Calculate annual sales for each franchise and year
annual_sales = invoice_data.groupby(['franchise_name', 'calendar_year'])['total_sales'].sum()

# Calculate the number of invoices and average sales per invoice for each month
invoice_number = invoice_data.groupby(['franchise_name', 'calendar_year', 'calendar_month'])['invoice_date'].count()
invoice_avg = monthly_sales / invoice_number

# Create a new DataFrame for sales by franchise, year, and month
sales_by_franchise_year_month_df = pd.DataFrame({
    'Franchise Name': monthly_sales.index.get_level_values('franchise_name'),
    'Year': monthly_sales.index.get_level_values('calendar_year'),
    'Month': monthly_sales.index.get_level_values('calendar_month'),
    'Sales': monthly_sales.values,
    'Invoice Number': invoice_number.values,
    'Invoice Avg': invoice_avg.values
})

# Create a new DataFrame for sales by franchise and year
sales_by_franchise_year_df = pd.DataFrame({
    'Franchise Name': annual_sales.index.get_level_values('franchise_name'),
    'Year': annual_sales.index.get_level_values('calendar_year'),
    'Sales': annual_sales.values
})

# Add the "total" row to the DataFrame for sales by franchise, year, and month
sales_by_franchise_year_month_df.loc[len(sales_by_franchise_year_month_df)] = ['Total', '', '',
                                                                              sales_by_franchise_year_month_df['Sales'].sum(),
                                                                              sales_by_franchise_year_month_df['Invoice Number'].sum(),
                                                                              sales_by_franchise_year_month_df['Sales'].sum() / sales_by_franchise_year_month_df['Invoice Number'].sum()]

# Add the "total" row to the DataFrame for sales by franchise and year
sales_by_franchise_year_df.loc[len(sales_by_franchise_year_df)] = ['Total', '',
                                                                  sales_by_franchise_year_df['Sales'].sum()]

# Reset the index of the DataFrames
sales_by_franchise_year_month_df = sales_by_franchise_year_month_df.reset_index(drop=True)
sales_by_franchise_year_df = sales_by_franchise_year_df.reset_index(drop=True)

<ipython-input-257-6207bd86d24d>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  invoice_data['calendar_month'] = invoice_data['invoice_date'].dt.month
<ipython-input-257-6207bd86d24d>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  invoice_data['calendar_year'] = invoice_data['invoice_date'].dt.year
<ipython-input-257-6207bd86d24d>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  invoice_data['total_sales'] = invoice_data['product1_sales'] + invoice_data['product2_sales'] + invoice_data['product3_sales']

In [258]:
# Print the sales by franchise, year, and month DataFrame
sales_by_franchise_year_month_df

   Franchise Name  Year Month         Sales  Invoice Number  Invoice Avg
0        イトーヨーカドー  2020     1    2200000.00               4    550000.00
1        イトーヨーカドー  2020     2     550000.00               1    550000.00
2        イトーヨーカドー  2020     3    1100000.00               2    550000.00
3        イトーヨーカドー  2020     4    2200000.00               4    550000.00
4        イトーヨーカドー  2020     5     550000.00               1    550000.00
..            ...   ...   ...           ...             ...          ...
92        マツモトキヨシ  2023     1   53150000.00              88    603977.27
93        マツモトキヨシ  2023     2   53000000.00              90    588888.89
94        マツモトキヨシ  2023     3   52100000.00              82    635365.85
95        マツモトキヨシ  2023     4   53150000.00              88    603977.27
96          Total             1968050000.00            3161    622603.61

[97 rows x 6 columns]

In [259]:
# Print the sales by franchise and year DataFrame
sales_by_franchise_year_df

   Franchise Name  Year         Sales
0        イトーヨーカドー  2020   14300000.00
1        イトーヨーカドー  2021   15400000.00
2        イトーヨーカドー  2022   15400000.00
3        イトーヨーカドー  2023    6050000.00
4             トモズ  2021  189800000.00
5             トモズ  2022  189800000.00
6             トモズ  2023   59900000.00
7         マツモトキヨシ  2021  633000000.00
8         マツモトキヨシ  2022  633000000.00
9         マツモトキヨシ  2023  211400000.00
10          Total       1968050000.00

In [261]:
# Check the updated Dataset
#invoice_data

# Profitability Analysis