<a href="https://colab.research.google.com/github/Kensuzuki95/EY_Assignment/blob/main/EY_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Download Packages

In [1]:
import os
import pandas as pd
import xlrd
import openpyxl
import glob
import shutil
!pip install pandas pyxlsb

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Collecting pyxlsb
  Downloading pyxlsb-1.0.10-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pyxlsb
Successfully installed pyxlsb-1.0.10

# Investigate Folder Content

In [2]:
# folder path
dir_path = r'/content/drive/MyDrive/EY Recruitment Documents/invoice'
count = 0
# Iterate directory
for path in os.listdir(dir_path):
    # check if current path is a file
    if os.path.isfile(os.path.join(dir_path, path)):
        count += 1
print('File count:', count)

File count: 4406

In [3]:
tifCounter = len(glob.glob1('/content/drive/MyDrive/EY Recruitment Documents/invoice',"*.xlsx"))
tifCounter

4400

In [4]:
tifCounter = len(glob.glob1('/content/drive/MyDrive/EY Recruitment Documents/invoice',"*.xlsb"))
tifCounter

6

## Sort Files depending on Extension Types

In [5]:
def extract_files_by_extension(source_folder, destination_folder, extension):
    # Create the destination folder if it doesn't exist
    if not os.path.exists(destination_folder):
        os.makedirs(destination_folder)

    # Iterate over files in the source folder
    for filename in os.listdir(source_folder):
        if filename.endswith(extension):
            # Get the full path of the source file
            source_file = os.path.join(source_folder, filename)

            # Get the full path of the destination file
            destination_file = os.path.join(destination_folder, filename)

            # Copy the file to the destination folder
            shutil.copy2(source_file, destination_file)

### Create a folder with .xlsx extension Invoices

In [ ]:
# Create a folder with only .xlsx files
source_folder = '/content/drive/MyDrive/EY Recruitment Documents/invoice'
destination_folder = '/content/drive/MyDrive/EY Recruitment Documents/invoice_xlsx'
extension = '.xlsx'

extract_files_by_extension(source_folder, destination_folder, extension)

In [ ]:
tifCounter = len(glob.glob1('/content/drive/MyDrive/EY Recruitment Documents/invoice_xlsx',"*.xlsx"))
tifCounter

### Create a folder with .xlsb extention Invoices

In [ ]:
# Create a folder with only .xlsb files
source_folder = '/content/drive/MyDrive/EY Recruitment Documents/invoice'
destination_folder = '/content/drive/MyDrive/EY Recruitment Documents/invoice_xlsb'
extension = '.xlsb'

extract_files_by_extension(source_folder, destination_folder, extension)

In [ ]:
tifCounter = len(glob.glob1('/content/drive/MyDrive/EY Recruitment Documents/invoice_xlsb',"*.xlsb"))
tifCounter

In [ ]:
def convert_xlsb_to_xlsx(input_folder, output_folder):
    # Get a list of all files in the input folder
    files = os.listdir(input_folder)

    # Filter out only the .xlsb files
    xlsb_files = [file for file in files if file.endswith('.xlsb')]

    # Iterate over the .xlsb files and convert them to .xlsx
    for file in xlsb_files:
        # Construct the input file path
        input_file_path = os.path.join(input_folder, file)

        # Construct the output file path by replacing the extension and adding the output folder
        output_file_path = os.path.join(output_folder, os.path.splitext(file)[0] + '.xlsx')

        # Read the .xlsb file using pandas
        df = pd.read_excel(input_file_path, engine='pyxlsb')

        # Write the DataFrame to the .xlsx file
        df.to_excel(output_file_path, index=False)

        print(f"Converted {input_file_path} to {output_file_path}")

In [ ]:
# Provide the input and output folder paths
input_folder = '/content/drive/MyDrive/EY Recruitment Documents/invoice_xlsb'
output_folder = '/content/drive/MyDrive/EY Recruitment Documents/invoice_xlsb_to_xlsx'

# Create the output folder if it doesn't exist
os.makedirs(output_folder, exist_ok=True)

convert_xlsb_to_xlsx(input_folder, output_folder)

#Extract Data from Files

In [65]:
def extract_invoice_data(file_path):
    wb = openpyxl.load_workbook(file_path)
    sheet = wb.active

    invoice_data = {}

    # Extract data from invoice template 1
    if sheet['A1'].value == r'請　求　書': #Check whether the invocie format is template 1 (or template 2)
      invoice_data['file_name'] = os.path.basename(file_path)
      invoice_data['store_name'] = sheet['A2'].value
      invoice_data['invoice_number'] = sheet['G2'].value
      invoice_data['invoice_date'] = sheet['G3'].value
      invoice_data['product_1'] = sheet['A15'].value
      invoice_data['quantity_1'] = sheet['D15'].value
      invoice_data['product_2'] = sheet['A16'].value
      invoice_data['quantity_2'] = sheet['D16'].value
      invoice_data['product_3'] = sheet['A17'].value
      invoice_data['quantity_3'] = sheet['D17'].value #In case there are more than 4 products registered due to human error
      invoice_data['product_4'] = sheet['A18'].value
      invoice_data['quantity_4'] = sheet['D18'].value
      invoice_data['product_5'] = sheet['A19'].value #In case there are more than 4 products registered due to human error
      invoice_data['quantity_5'] = sheet['D19'].value

    # Extract data from invoice template 2
    else:
      invoice_data['file_name'] = os.path.basename(file_path)
      invoice_data['store_name'] = {sheet['B4'].value, sheet['B6'].value}
      invoice_data['invoice_number'] = sheet['H2'].value
      invoice_data['invoice_date'] = sheet['H1'].value
      invoice_data['product_1'] = sheet['B17'].value
      invoice_data['quantity_1'] = sheet['F17'].value
      invoice_data['product_2'] = sheet['B18'].value
      invoice_data['quantity_2'] = sheet['F18'].value
      invoice_data['product_3'] = sheet['B19'].value
      invoice_data['quantity_3'] = sheet['F19'].value #In case there are more than 4 products registered due to human error
      invoice_data['product_4'] = sheet['B20'].value
      invoice_data['quantity_4'] = sheet['F20'].value
      invoice_data['product_5'] = sheet['B21'].value #In case there are more than 4 products registered due to human error
      invoice_data['quantity_5'] = sheet['F21'].value

    wb.close()

    return invoice_data

## Extract Data from .xlsx File

In [76]:
# Folder path containing the Excel files
folder_path = '/content/drive/MyDrive/EY Recruitment Documents/invoice'
output_folder_path = '/content/drive/MyDrive/EY Recruitment Documents/invoice_xlsx_data.xlsx'
invoice_data_list_xlsx = []

# Iterate over each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.xlsx'):  # Consider only .xlsx files
        file_path = os.path.join(folder_path, file_name)
        invoice_data_xlsx = extract_invoice_data(file_path)
        invoice_data_list_xlsx.append(invoice_data_xlsx)

In [77]:
# Save the invoice data to the output folder
invoice_xlsx = pd.DataFrame(invoice_data_list_xlsx)
invoice_xlsx.to_excel(output_folder_path, index=False)

# Show the invocie data in a DataFrame format
#invoice_xlsx.head()
invoice_xlsx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4400 entries, 0 to 4399
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   file_name       4400 non-null   object
 1   store_name      4400 non-null   object
 2   invoice_number  4400 non-null   object
 3   invoice_date    4400 non-null   object
 4   product_1       4400 non-null   object
 5   quantity_1      4400 non-null   float64
 6   product_2       4400 non-null   object
 7   quantity_2      4400 non-null   float64
 8   product_3       970 non-null    object
 9   quantity_3      970 non-null    float64
 10  product_4       0 non-null      object
 11  quantity_4      0 non-null      object
 12  product_5       0 non-null      object
 13  quantity_5      0 non-null      object
dtypes: float64(3), object(11)
memory usage: 481.4+ KB

## Extract Data from .xlsb File

In [73]:
# Folder path containing the Excel files
folder_path = '/content/drive/MyDrive/EY Recruitment Documents/invoice_xlsb_to_xlsx'
output_folder_path = '/content/drive/MyDrive/EY Recruitment Documents/invoice_xlsb_data.xlsx'
invoice_data_list_xlsb = []

# Iterate over each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.xlsx'):  # Consider only .xlsb files
        file_path = os.path.join(folder_path, file_name)
        invoice_data_xlsb = extract_invoice_data(file_path)
        invoice_data_list_xlsb.append(invoice_data_xlsb)

In [75]:
# Save the invoice data to the output folder
invoice_xlsb = pd.DataFrame(invoice_data_list_xlsb)
invoice_xlsb.to_excel(output_folder_path, index=False)

# Show the invocie data in a DataFrame format
invoice_xlsb
#invoice_xlsb.info()

,file_name,store_name,invoice_number,invoice_date,product_1,quantity_1,product_2,quantity_2,product_3,quantity_3,product_4,quantity_4,product_5,quantity_5
0,202003000008681.xlsx,"{イトーヨーカ堂, 我孫子南口店 御中}",請求番号: 202003000008681,請求日: 2020-03-22,メンズ・シャンプーM,100,レディース・シャンプーL,100,None,None,None,None,None,None
1,202004000002111.xlsx,"{イトーヨーカ堂, 市原店 御中}",請求番号: 202004000002111,請求日: 2020-04-19,メンズ・シャンプーM,100,レディース・シャンプーL,100,None,None,None,None,None,None
2,202010000002111.xlsx,"{イトーヨーカ堂, 市原店 御中}",請求番号: 202010000002111,請求日: 2020-10-17,メンズ・シャンプーM,100,レディース・シャンプーL,100,None,None,None,None,None,None
3,202001000002111.xlsx,"{イトーヨーカ堂, 市原店 御中}",請求番号: 202001000002111,請求日: 2020-01-08,メンズ・シャンプーM,100,レディース・シャンプーL,100,None,None,None,None,None,None
4,202006000008681.xlsx,"{イトーヨーカ堂, 我孫子南口店 御中}",請求番号: 202006000008681,請求日: 2020-06-07,メンズ・シャンプーM,100,レディース・シャンプーL,100,None,None,None,None,None,None
5,202012000008681.xlsx,"{イトーヨーカ堂, 我孫子南口店 御中}",請求番号: 202012000008681,請求日: 2020-12-15,メンズ・シャンプーM,100,レディース・シャンプーL,100,None,None,None,None,None,None

## Merge two datasets to create the main dataset

In [111]:
invoice_df = pd.concat([invoice_xlsx, invoice_xlsb], ignore_index=True)
invoice_df.to_excel('/content/drive/MyDrive/EY Recruitment Documents/invoice_data.xlsx', index=False)
invoice_df.head()
invoice_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4406 entries, 0 to 4405
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   file_name       4406 non-null   object
 1   store_name      4406 non-null   object
 2   invoice_number  4406 non-null   object
 3   invoice_date    4406 non-null   object
 4   product_1       4406 non-null   object
 5   quantity_1      4406 non-null   float64
 6   product_2       4406 non-null   object
 7   quantity_2      4406 non-null   float64
 8   product_3       970 non-null    object
 9   quantity_3      970 non-null    object
 10  product_4       0 non-null      object
 11  quantity_4      0 non-null      object
 12  product_5       0 non-null      object
 13  quantity_5      0 non-null      object
dtypes: float64(2), object(12)
memory usage: 482.0+ KB

# Data Cleaning

In [112]:
# Remove Unnecesarry Columns
invoice_df.columns
invoice_df.drop(['product_4', 'quantity_4', 'product_5', 'quantity_5'], axis = 'columns', inplace = True)
invoice_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4406 entries, 0 to 4405
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   file_name       4406 non-null   object
 1   store_name      4406 non-null   object
 2   invoice_number  4406 non-null   object
 3   invoice_date    4406 non-null   object
 4   product_1       4406 non-null   object
 5   quantity_1      4406 non-null   float64
 6   product_2       4406 non-null   object
 7   quantity_2      4406 non-null   float64
 8   product_3       970 non-null    object
 9   quantity_3      970 non-null    object
dtypes: float64(2), object(8)
memory usage: 344.3+ KB

In [107]:
invoice_xlsx.head()

,file_name,store_name,invoice_number,invoice_date,product_1,quantity_1,product_2,quantity_2,product_3,quantity_3,product_4,quantity_4,product_5,quantity_5
0,202009000096221.xlsx,トモズ お花茶屋店 御中,202009000096221,44091,メンズ・シャンプーM,100.0,レディース・シャンプーL,100.0,None,NaN,None,None,None,None
1,202006000103601.xlsx,トモズ 小田急マルシェ本厚木店 御中,202006000103601,43997,メンズ・シャンプーM,100.0,レディース・シャンプーL,100.0,None,NaN,None,None,None,None
2,202212000012341.xlsx,マツモトキヨシ せんげん台東店 御中,202212000012341,2022/12/09,メンズ・シャンプーM,100.0,レディース・シャンプーL,100.0,None,NaN,None,None,None,None
3,202209000096221.xlsx,トモズ お花茶屋店 御中,202209000096221,2022/09/05,メンズ・シャンプーM,100.0,レディース・シャンプーL,100.0,None,NaN,None,None,None,None
4,202006000096221.xlsx,トモズ お花茶屋店 御中,202006000096221,43991,メンズ・シャンプーM,100.0,レディース・シャンプーL,100.0,None,NaN,None,None,None,None

In [114]:
invoice_xlsb.head()

,file_name,store_name,invoice_number,invoice_date,product_1,quantity_1,product_2,quantity_2,product_3,quantity_3,product_4,quantity_4,product_5,quantity_5
0,202003000008681.xlsx,"{イトーヨーカ堂, 我孫子南口店 御中}",請求番号: 202003000008681,請求日: 2020-03-22,メンズ・シャンプーM,100,レディース・シャンプーL,100,None,None,None,None,None,None
1,202004000002111.xlsx,"{イトーヨーカ堂, 市原店 御中}",請求番号: 202004000002111,請求日: 2020-04-19,メンズ・シャンプーM,100,レディース・シャンプーL,100,None,None,None,None,None,None
2,202010000002111.xlsx,"{イトーヨーカ堂, 市原店 御中}",請求番号: 202010000002111,請求日: 2020-10-17,メンズ・シャンプーM,100,レディース・シャンプーL,100,None,None,None,None,None,None
3,202001000002111.xlsx,"{イトーヨーカ堂, 市原店 御中}",請求番号: 202001000002111,請求日: 2020-01-08,メンズ・シャンプーM,100,レディース・シャンプーL,100,None,None,None,None,None,None
4,202006000008681.xlsx,"{イトーヨーカ堂, 我孫子南口店 御中}",請求番号: 202006000008681,請求日: 2020-06-07,メンズ・シャンプーM,100,レディース・シャンプーL,100,None,None,None,None,None,None

In [118]:
# Function to remove curly brackets, specific strings, characters, and double spacing
def data_cleansing(string):
    # Remove curly brackets
    string = string.replace('{', '').replace('}', '')

    # Remove specific strings
    string = string.replace('御中', '')
    string = string.replace('請求番号', '')
    string = string.replace('請求日', '')

    # Remove specific characters
    string = string.replace(':', '')
    string = string.replace(',', '')

    # Remove double spacing
    string = ' '.join(string.split())

    # Convert float to integer
    try:
        string = str(int(float(string)))
    except ValueError:
        pass

    return string

In [127]:
def data_cleansing(string):
    # Convert set to string
    if isinstance(string, set):
        string = list(string)[0]

    # Convert value to string
    string = str(string)

    # Remove curly brackets
    string = string.replace('{', '').replace('}', '')

    # Remove specific strings
    string = string.replace('御中', '')
    string = string.replace('請求番号', '')
    string = string.replace('請求日', '')

    # Remove specific characters
    string = string.replace(':', '')
    string = string.replace(',', '')
    string = string.replace('/', '-')

    # Remove double spacing
    string = ' '.join(string.split())

    # Convert float to integer
    #try:
    #    string = str(int(float(string)))
    #except ValueError:
    #    pass

    return string

In [128]:
# Apply the function to the DataFrame column
invoice_df['store_name'] = invoice_df['store_name'].apply(data_cleansing)
invoice_df['invoice_number'] = invoice_df['invoice_number'].apply(data_cleansing)
invoice_df['invoice_date'] = invoice_df['invoice_date'].apply(data_cleansing)
invoice_df.head()

,file_name,store_name,invoice_number,invoice_date,product_1,quantity_1,product_2,quantity_2,product_3,quantity_3
0,202009000096221.xlsx,トモズ お花茶屋店,202009000096221,44091,メンズ・シャンプーM,100.0,レディース・シャンプーL,100.0,None,NaN
1,202006000103601.xlsx,トモズ 小田急マルシェ本厚木店,202006000103601,43997,メンズ・シャンプーM,100.0,レディース・シャンプーL,100.0,None,NaN
2,202212000012341.xlsx,マツモトキヨシ せんげん台東店,202212000012341,2022-12-09,メンズ・シャンプーM,100.0,レディース・シャンプーL,100.0,None,NaN
3,202209000096221.xlsx,トモズ お花茶屋店,202209000096221,2022-09-05,メンズ・シャンプーM,100.0,レディース・シャンプーL,100.0,None,NaN
4,202006000096221.xlsx,トモズ お花茶屋店,202006000096221,43991,メンズ・シャンプーM,100.0,レディース・シャンプーL,100.0,None,NaN

In [129]:
invoice_df.info()
invoice_df.to_excel('/content/drive/MyDrive/EY Recruitment Documents/invoice_data_cleaned.xlsx', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4406 entries, 0 to 4405
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   file_name       4406 non-null   object
 1   store_name      4406 non-null   object
 2   invoice_number  4406 non-null   object
 3   invoice_date    4406 non-null   object
 4   product_1       4406 non-null   object
 5   quantity_1      4406 non-null   float64
 6   product_2       4406 non-null   object
 7   quantity_2      4406 non-null   float64
 8   product_3       970 non-null    object
 9   quantity_3      970 non-null    object
dtypes: float64(2), object(8)
memory usage: 344.3+ KB

## Create Addtional Columns using supplemental data

In [ ]:
# Add Francise Column & Company Name Column & Store Name Column

In [ ]:
# Add Prefecture Column & Municipality Column

In [ ]:
# Add municipal and prefecture code columns to use GeoPandas

# Notes