<a href="https://colab.research.google.com/github/Kensuzuki95/EY_Assignment/blob/main/EY_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Download Packages

In [18]:
import os
import pandas as pd
import xlrd
import pandas

In [20]:
pd.read_excel('/content/drive/MyDrive/EY Recruitment Documents/202304000109881.xlsx')

,請 求 書,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,マツモトキヨシ 日吉東急アベニュー店 御中,NaN,NaN,NaN,NaN,No,202304000109881
1,NaN,NaN,NaN,NaN,NaN,請求日,2023/04/22
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,下記のとおり、御請求申し上げます。,NaN,NaN,NaN,NaN,株式会社 uruoi,NaN
4,件名,シャンプー納品,NaN,NaN,NaN,〒XXX-XXXX,NaN
5,振込先,サンプル銀行 本店 普通 1111111,NaN,NaN,NaN,東京都千代田区有楽町X-X-X,NaN
6,NaN,ウルオイ（カ,NaN,NaN,NaN,ULTRAビルディング15F,NaN
7,NaN,NaN,NaN,NaN,NaN,TEL：03-XXXX-XXXX,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,合計,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,摘要,NaN,NaN,数量,単位,単価,金額
13,メンズ・シャンプーM,NaN,NaN,100,個,2300,NaN
14,レディース・シャンプーL,NaN,NaN,100,個,2800,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,小計,NaN
28,NaN,NaN,NaN,NaN,NaN,消費税,NaN
29,NaN,NaN,NaN,NaN,NaN,合計,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,備考,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
pd.read_csv('/content/drive/MyDrive/EY Recruitment Documents/202304000109881.xlsx - 請求書.csv')

,請 求 書,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,マツモトキヨシ 日吉東急アベニュー店 御中,NaN,NaN,NaN,NaN,No,202304000109881
1,NaN,NaN,NaN,NaN,NaN,請求日,2023/04/22
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,下記のとおり、御請求申し上げます。,NaN,NaN,NaN,NaN,株式会社 uruoi,NaN
4,件名,シャンプー納品,NaN,NaN,NaN,〒XXX-XXXX,NaN
5,振込先,サンプル銀行 本店 普通 1111111,NaN,NaN,NaN,東京都千代田区有楽町X-X-X,NaN
6,NaN,ウルオイ（カ,NaN,NaN,NaN,ULTRAビルディング15F,NaN
7,NaN,NaN,NaN,NaN,NaN,TEL：03-XXXX-XXXX,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,合計,"561,000 円 (税込)",NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,摘要,NaN,NaN,数量,単位,単価,金額
13,メンズ・シャンプーM,NaN,NaN,100,個,"2,300","230,000"
14,レディース・シャンプーL,NaN,NaN,100,個,"2,800","280,000"
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,小計,"510,000"
28,NaN,NaN,NaN,NaN,NaN,消費税,"51,000"
29,NaN,NaN,NaN,NaN,NaN,合計,"561,000"
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,備考,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
#Select the directory where the Excel files are located
#os.chdir('/Users/kensuzuki/Downloads')
#open Excel workbook with xlrd
wb = xlrd.open_workbook('/content/drive/MyDrive/EY Recruitment Documents/202304000109881.xlsx')
print(wb)

XLRDError: ignored